{% extends '@SonataAdmin/standard_layout.html.twig' %}

{% macro format_sonata_date(val) %}
    {%- if val is not empty -%}
        {%- if val is iterable -%}
            {%- if val.year is defined and val.month is defined and val.day is defined -%}
                {{- (val.year ~ '-' ~ val.month ~ '-' ~ val.day)|date('d/m/Y') -}}
            {%- elseif val.date is defined -%}
                {{- val.date|date('d/m/Y') -}}
            {%- else -%}
                {{- val|join('/') -}}
            {%- endif -%}
        {%- else -%}
            {{- val|date('d/m/Y') -}}
        {%- endif -%}
    {%- endif -%}
{% endmacro %}

{% block title %}Sélection des champs à exporter{% endblock %}

{% block content %}
{% import _self as helper %}
<div class="row">
    <div class="col-md-12">
        {# Afficher les filtres appliqués - Version robuste #}
        {% set activeFilters = [] %}
        {% set filterValues = (filterParameters.filter is defined ? filterParameters.filter : filterParameters)|default({}) %}

        {% for key, value in filterValues %}
            {% if key not in ['_page', '_sort_by', '_sort_order', '_per_page', 'fields'] %}
                {% if value is iterable and value.value is defined %}
                    {% set filterValue = value.value %}
                    {% if filterValue is not null and filterValue != '' %}
                        {% if key in ['usageDate', 'createdAt', 'startOccupation', 'created'] %}
                            {% if filterValue is iterable %}
                                {% set parts = [] %}
                                {% if filterValue.start is defined and filterValue.start is not empty %}
                                    {% set startStr = helper.format_sonata_date(filterValue.start) %}
                                    {% if startStr is not empty %}
                                        {% set parts = parts|merge(['du ' ~ startStr]) %}
                                    {% endif %}
                                {% endif %}
                                {% if filterValue.end is defined and filterValue.end is not empty %}
                                    {% set endStr = helper.format_sonata_date(filterValue.end) %}
                                    {% if endStr is not empty %}
                                        {% set parts = parts|merge(['au ' ~ endStr]) %}
                                    {% endif %}
                                {% endif %}
                                {% if parts|length > 0 %}
                                    {% set activeFilters = activeFilters|merge([{'name': key, 'value': parts|join(' ') }]) %}
                                {% endif %}
                            {% else %}
                                {% set dateStr = helper.format_sonata_date(filterValue) %}
                                {% if dateStr is not empty %}
                                    {% set activeFilters = activeFilters|merge([{'name': key, 'value': dateStr}]) %}
                                {% endif %}
                            {% endif %}
                        {% else %}
                            {% if filterValue is iterable %}
                                {% set activeFilters = activeFilters|merge([{'name': key, 'value': filterValue|join(', ')}]) %}
                            {% else %}
                                {% set activeFilters = activeFilters|merge([{'name': key, 'value': filterValue}]) %}
                            {% endif %}
                        {% endif %}
                    {% endif %}
                {% elseif value is not null and value != '' and value is not iterable %}
                    {% if key in ['usageDate', 'createdAt', 'startOccupation', 'created'] %}
                        {% set dateStr = helper.format_sonata_date(value) %}
                        {% if dateStr is not empty %}
                            {% set activeFilters = activeFilters|merge([{'name': key, 'value': dateStr}]) %}
                        {% endif %}
                    {% else %}
                        {% set activeFilters = activeFilters|merge([{'name': key, 'value': value}]) %}
                    {% endif %}
                {% endif %}
            {% endif %}
        {% endfor %}
        
        {% if activeFilters|length > 0 %}
        <div class="box box-info">
            <div class="box-header with-border">
                <h3 class="box-title"><i class="fa fa-filter"></i> Filtres appliqués ({{ activeFilters|length }})</h3>
                <div class="box-tools pull-right">
                    <a href="{{ admin.generateUrl('list', filterParameters|default({})) }}" class="btn btn-sm btn-warning">
                        <i class="fa fa-pencil"></i> Modifier les filtres
                    </a>
                </div>
            </div>
            <div class="box-body">
                <p class="text-muted" style="margin-bottom:10px;">Les filtres suivants seront pris en compte dans l'export :</p>
                <div style="display: flex; flex-wrap: wrap; gap: 8px; margin-bottom: 5px;">
                    {% set tagColors = ['#4e73df','#1cc88a','#36b9cc','#f6c23e','#e74a3b','#6f42c1','#fd7e14','#20c9a6'] %}
                    {% for filter in activeFilters %}
                    {% set filterLabel = null %}
                    {% if admin.datagrid.filters[filter.name] is defined and admin.datagrid.filters[filter.name].label is not empty %}
                        {% set filterLabel = admin.datagrid.filters[filter.name].label %}
                    {% endif %}
                    {% if filterLabel is empty %}
                        {% set filterLabel = availableFields[filter.name] is defined ? availableFields[filter.name].label : filter.name|replace({'_': ' '})|title %}
                    {% endif %}
                    {% set tagColor = tagColors[loop.index0 % tagColors|length] %}
                    <span style="display:inline-block;padding:5px 10px;border-radius:4px;font-size:12px;background:{{ tagColor }};color:#fff;">
                        <i class="fa fa-tag"></i>
                        <strong>{{ filterLabel }}</strong> : {{ filter.value }}
                    </span>
                    {% endfor %}
                </div>
            </div>
        </div>
        {% else %}
        <div class="box box-warning">
            <div class="box-header with-border">
                <h3 class="box-title"><i class="fa fa-exclamation-triangle"></i> Aucun filtre appliqué</h3>
                <div class="box-tools pull-right">
                    <a href="{{ admin.generateUrl('list') }}" class="btn btn-sm btn-primary">
                        <i class="fa fa-filter"></i> Appliquer des filtres
                    </a>
                </div>
            </div>
            <div class="box-body">
                <p>Vous êtes sur le point d'exporter <strong>TOUS les porteurs de projet</strong>.</p>
            </div>
        </div>
        {% endif %}
    </div>
</div>

<div class="box box-primary">
    <div class="box-header with-border">
        <h3 class="box-title">
            <i class="fa fa-download"></i> Sélectionner les champs à exporter
        </h3>
        <div class="box-tools pull-right">
            <a href="{{ admin.generateUrl('help_filters') }}" class="btn btn-box-tool" title="Aide">
                <i class="fa fa-question-circle"></i> Aide
            </a>
        </div>
    </div>

    <form method="POST" action="{{ admin.generateUrl('select_export_fields', filterParameters|default({})) }}" id="export-form">
        <input type="hidden" name="_token" value="{{ csrf_token('export_fields') }}" />
        <div class="box-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-default" id="select-all-btn">
                            <i class="fa fa-check-square"></i> Tout sélectionner
                        </button>
                        <button type="button" class="btn btn-default" id="deselect-all-btn">
                            <i class="fa fa-square-o"></i> Tout désélectionner
                        </button>
                        <button type="button" class="btn btn-primary" id="preset-btn" title="Pré-sélectionne les champs essentiels pour un premier export rapide">
                            <i class="fa fa-star"></i> Sélection type
                        </button>
                    </div>
                    <div class="pull-right">
                        <span class="label label-default" id="selected-count" style="font-size: 14px; padding: 8px 12px;">
                            0 champ sélectionné
                        </span>
                    </div>
                    <div class="clearfix"></div>
                    <hr>
                </div>
            </div>

            {% set grouped_fields = {} %}
            {% for key, field in availableFields %}
                {% set category = field.category %}
                {% if grouped_fields[category] is not defined %}
                    {% set grouped_fields = grouped_fields|merge({(category): []}) %}
                {% endif %}
                {% set grouped_fields = grouped_fields|merge({
                    (category): grouped_fields[category]|merge([{key: key, field: field}])
                }) %}
            {% endfor %}

            {% for category, fields in grouped_fields %}
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <i class="fa fa-folder-o"></i> {{ category }}
                                <label class="pull-right" style="font-weight: normal; margin: 0;">
                                    <input type="checkbox" class="select-category" data-category="{{ category|replace({' ': '_'}) }}" />
                                    <small>Tout sélectionner</small>
                                </label>
                            </h4>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                {% for item in fields %}
                                <div class="col-md-4 col-sm-6">
                                    <div class="checkbox">
                                        <label>
                                            <input 
                                                type="checkbox" 
                                                name="fields[]" 
                                                value="{{ item.key }}"
                                                class="field-checkbox category-{{ category|replace({' ': '_'}) }}"
                                            />
                                            {{ item.field.label }}
                                        </label>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

        <div class="box-footer">
            <button type="submit" class="btn btn-success btn-lg" id="submit-btn">
                <i class="fa fa-download"></i> Exporter les porteurs de projet
            </button>
            <a href="{{ admin.generateUrl('list') }}" class="btn btn-default btn-lg">
                <i class="fa fa-times"></i> Annuler
            </a>
        </div>
    </form>
</div>

<style>
    .panel-heading h4 {
        margin: 0;
        font-size: 16px;
        font-weight: bold;
    }
    
    .checkbox {
        margin-top: 5px;
        margin-bottom: 5px;
    }
    
    .panel-body {
        background-color: #f9f9f9;
    }
    
    #selected-count {
        font-size: 14px;
        padding: 8px 12px;
        vertical-align: middle;
        margin-top: 10px;
        display: inline-block;
    }
    
    .box-footer {
        padding: 15px;
    }
    
    .btn-group {
        margin-bottom: 15px;
    }
    
    .checkbox div[class^="icheckbox"],
    .checkbox-inline div[class^="icheckbox"],
    .radio div[class^="iradio"],
    .radio-inline div[class^="iradio"] {
        display: none !important;
    }
    
    .checkbox label.field-selected {
        font-weight: bold;
        transition: all 0.2s;
    }
    
    .checkbox label.field-selected:before {
        content: "✓ ";
        color: #3c8dbc;
        font-weight: bold;
        margin-right: 5px;
    }
</style>

<script>
(function($) {
$(document).ready(function() {
    const fieldCheckboxes = $('.field-checkbox');
    const categoryCheckboxes = $('.select-category');
    const selectedCountLabel = $('#selected-count');
    const selectAllBtn = $('#select-all-btn');
    const deselectAllBtn = $('#deselect-all-btn');
    
    // Helper pour changer l'état d'une checkbox et synchroniser iCheck
    function setCheckboxState($el, checked) {
        if ($.isFunction($.fn.iCheck)) {
            $el.iCheck(checked ? 'check' : 'uncheck');
        } else {
            $el.prop('checked', checked).trigger('change');
        }
    }
    
    function updateSelectedCount() {
        const count = $('input[name="fields[]"]:checked').length;
        selectedCountLabel.text(count + ' champ' + (count > 1 ? 's' : '') + ' sélectionné' + (count > 1 ? 's' : ''));
        
        if (count === 0) {
            selectedCountLabel.attr('class', 'label label-default');
        } else if (count < 5) {
            selectedCountLabel.attr('class', 'label label-warning');
        } else {
            selectedCountLabel.attr('class', 'label label-info');
        }
    }
    
    selectAllBtn.on('click', function(e) {
        e.preventDefault();
        setCheckboxState($('input[name="fields[]"]'), true);
        setCheckboxState($('.field-checkbox'), true);
        setCheckboxState($('.select-category'), true);
        updateSelectedCount();
        updateVisualIndicators();
    });
    
    deselectAllBtn.on('click', function(e) {
        e.preventDefault();
        setCheckboxState($('input[name="fields[]"]'), false);
        setCheckboxState($('.field-checkbox'), false);
        setCheckboxState($('.select-category'), false);
        updateSelectedCount();
        updateVisualIndicators();
    });

    // Sélection type : champs essentiels du profil porteur
    var presetFields = [
        'lastname',
        'firstname',
        'email',
        'phone',
        'createdAt',
        'company',
        'companyDescription',
        'companyStatus',
        'useType',
        'address',
        'zipcode',
        'city',
        'companyPhone',
        'companyMobile',
        'company_site',
        'instagramUrl',
        'linkedinUrl',
        'wishedSize',
        'preferredDepartments',
        'usageDate',
        'usageDuration',
        'projectDescription'
    ];

    function syncCategoryCheckboxes() {
        categoryCheckboxes.each(function() {
            const category = $(this).data('category');
            const categoryFields = $('.category-' + category);
            const allChecked = categoryFields.length > 0 && categoryFields.filter(':checked').length === categoryFields.length;
            setCheckboxState($(this), allChecked);
        });
    }

    $('#preset-btn').on('click', function(e) {
        e.preventDefault();
        setCheckboxState($('.field-checkbox'), false);
        presetFields.forEach(function(key) {
            setCheckboxState($('input.field-checkbox[value="' + key + '"]'), true);
        });
        syncCategoryCheckboxes();
        updateSelectedCount();
        updateVisualIndicators();
    });
    
    categoryCheckboxes.on('change ifChanged', function() {
        const category = $(this).data('category');
        setCheckboxState($('.category-' + category), $(this).prop('checked'));
        updateSelectedCount();
        updateVisualIndicators();
    });
    
    function updateVisualIndicators() {
        $('input[name="fields[]"]').each(function() {
            const $checkbox = $(this);
            const $label = $checkbox.closest('label');
            
            if ($checkbox.is(':checked')) {
                $label.addClass('field-selected');
            } else {
                $label.removeClass('field-selected');
            }
        });
    }
    
    fieldCheckboxes.on('change ifChanged', function() {
        updateSelectedCount();
        updateVisualIndicators();
    });
    
    updateSelectedCount();
    updateVisualIndicators();
    
    $('#export-form').on('submit', function(e) {
        const checkedCount = $('.field-checkbox:checked').length;
        if (checkedCount === 0) {
            e.preventDefault();
            alert('Veuillez sélectionner au moins un champ à exporter.');
            return false;
        }
    });
});
})(jQuery);
</script>
{% endblock %}
