{% block captcha_widget %}
{% if is_human %}
-
{% else %}
{% apply spaceless %}
    <div class="row">
        <div class="col-xs-6">
            <img class="captcha_image" id="{{ image_id }}" src="{{ captcha_code }}" alt="" title="captcha" width="200" height="60" style="border: 1px solid #ddd; border-radius: 4px;" />
        </div>
        <div class="col-xs-6 form-group{{ form.vars.errors | length ? ' has-error' : '' }}">
            <div class="input-group">
                <span class="input-group-addon"><img src="{{ asset('/bundles/app/images/lock_login.png') }}" alt="user" class="closed" /></span>
                {{ form_widget(form) }}
            </div>
            {{ form_errors(form) }}
        </div>
    </div>
    {% if reload %}
    <script type="text/javascript">
        function reload_{{ image_id }}() {
            var img = document.getElementById('{{ image_id }}');
            img.src = '{{ captcha_code }}?n=' + (new Date()).getTime();
        }
    </script>
    <a class="captcha_reload" href="javascript:reload_{{ image_id }}();">{{ 'Renew'|trans({}, 'gregwar_captcha') }}</a>
    {% endif %}
{% endapply %}
{% endif %}
{% endblock %}
