{% extends "bundles/FOSUserBundle/views/layout.html.twig" %}

{% block fos_user_content %}
{% embed 'Partials/_auth_split_layout.html.twig' %}
{% block auth_body %}
<div class="login-page">
    <div class="colorBox-content registration" style="background: rgba(255, 255, 255, 0.9); padding: 30px; border-radius: 8px;">
        <img class="icon" src="{{ asset('/bundles/app/images/user_icon.png') }}" style="width: 48px; margin-bottom: 20px;" />

        <h4 style="font-size: 24px; font-weight: 600; margin-bottom: 20px; color: #333;">Inscription</h4>

        <div id="cboxContent white">
            {{ form_start(form, {'action': path('fos_user_registration_register'), 'attr': {'class':'fos_user_registration_register'}}) }}

            <div class="form-group{{ form.email.vars.errors | length ? ' has-error' : '' }}">
                <div class="input-group">
                    <span class="input-group-addon"><img src="{{ asset('/bundles/app/images/user_login.png') }}" alt="user" class="closed" /></span>
                    {{ form_widget(form.email) }}
                </div>
                {{ form_errors(form.email) }}
            </div>

            <div class="form-group{{ form.plainPassword.first.vars.errors | length ? ' has-error' : '' }}">
                <div class="input-group">
                    <span class="input-group-addon"><img src="{{ asset('/bundles/app/images/lock_login.png') }}" alt="user" class="closed" /></span>
                    {{ form_widget(form.plainPassword.first) }}
                </div>
                {{ form_errors(form.plainPassword.first) }}
            </div>

            <div class="form-group{{ form.plainPassword.second.vars.errors | length ? ' has-error' : '' }}">
                <div class="input-group">
                    <span class="input-group-addon"><img src="{{ asset('/bundles/app/images/lock_login.png') }}" alt="user" class="closed" /></span>
                    {{ form_widget(form.plainPassword.second) }}
                </div>
                {{ form_errors(form.plainPassword.second) }}
            </div>

            {{ form_widget(form.captcha) }}

            <p class="forgotten">
                Vous allez recevoir un email de confirmation.
                Il vous sera demandé de cliquer sur le lien pour confirmer votre adresse email.
            </p>

            {{ form_rest(form) }}

            <input type="submit" id="_submit" value="Je m'inscris" class="btn btn-line-login"/>
            <div class="text-left">
                <hr class="black" style="border-top: 1px solid #eee; margin: 20px 0;">
                <p>
                    <span>Vous avez déjà un compte Plateau Urbain ?</span>
                    <br />
                    <i class="fa-solid fa-arrow-right connex"></i> <a class="connex" href="{{ path('app_login') }}">Connexion</a>
                </p>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
</div>
{% endblock %}
{% endembed %}
{% endblock fos_user_content %}
